@media (min-width: 1536px) {

    /* h1 {
        font-size: 64px;
        color: white;
    }
    h2 {
        font-size: 32px;
        color: white;
    } */

    .container {
        max-width: 100%;
    }
}